Workflows/Master-27DE4AFF-D651-F011-877A-7C1E52583799.json
{
  "properties": {
    "connectionReferences": {
      "shared_sql-1": {
        "runtimeSource": "invoker",
        "connection": {
          "connectionReferenceLogicalName": "trz_SourceWSSAon01"
        },
        "api": {
          "name": "shared_sql"
        }
      },
      "shared_commondataserviceforapps": {
        "runtimeSource": "invoker",
        "connection": {
          "connectionReferenceLogicalName": "new_sharedcommondataserviceforapps_694dc"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "e375575b-1ee3-4b16-aa94-944155a79e79"
          },
          "type": "Request",
          "kind": "Button",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {},
              "required": []
            }
          }
        }
      },
      "actions": {
        "📋_Master_Flow_Documentation_Header": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "master-flow-documentation-header"
          },
          "type": "Compose",
          "inputs": "📋 DELTA FLOWS MASTER ORCHESTRATOR\n\n🎯 PURPOSE:\nOrchestrates the processing of delta data across multiple tables by identifying tables with changes and executing the Framework with Batching flow for each table in parallel for optimal performance.\n\n📥 INPUTS:\n• Manual trigger - No input parameters required\n• Reads table mappings from [df].[wstColumnMapping] configuration from the WSSA (Administrative DB) on the SQL Server instance\n• Automatically detects tables with delta changes\n\n📤 OUTPUTS:\n• Orchestrated execution of child flows for all tables with changes\n• Parallel processing for improved performance\n• Comprehensive logging via child flow executions\n\n🔄 ORCHESTRATION PROCESS:\n1. Initialize processing variables and arrays\n2. Retrieve all active table mappings from configuration\n3. Check each table for delta changes in parallel (up to 20 concurrent)\n4. Build list of tables requiring processing\n5. Execute Framework with Batching flow for each table (up to 5 concurrent)\n\n⚙️ PERFORMANCE OPTIMIZATIONS:\n• Parallel Change Detection: 20 concurrent change checks\n• Parallel Table Processing: 5 concurrent child flow executions\n• Selective Processing: Only processes tables with actual changes\n• Efficient Resource Usage: Balanced concurrency to prevent database overload\n\n🛡️ ERROR HANDLING:\n• Individual table failures don't stop other tables\n• Child flow error handling manages table-specific issues\n• Graceful degradation under system load\n\n📊 MONITORING:\n• Child flow execution logs for each table\n• Overall orchestration timing and status\n• Individual table processing results"
        },
        "📝_Configuration_Discovery_Section": {
          "runAfter": {
            "📋_Master_Flow_Documentation_Header": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "config-discovery-section"
          },
          "type": "Compose",
          "inputs": "📝 CONFIGURATION DISCOVERY SECTION\n\n🎯 PURPOSE: Retrieve table mapping configuration and prepare for change detection\n\n🔧 ACTIONS:\n• Initialize TablesToProcess array for storing tables that need processing\n• Query [df].[wstColumnMapping] table for active key column mappings\n• Parse JSON response into structured data for processing\n\n📋 CONFIGURATION SCOPE:\n• Filter: IsKeyColumn = true AND IsActive = true\n• Source: WSWMDWH01/WSSA database\n• Result: Array of table mappings with source/target relationships\n\n⚙️ PERFORMANCE CONSIDERATIONS:\n• Single database query to retrieve all mappings\n• Efficient filtering at database level\n• Structured parsing for downstream processing"
        },
        "ESP_-_Get_Source_Data_Views_for_Processing": {
          "runAfter": {
            "📝_Configuration_Discovery_Section": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "bfac4e7b-987e-491c-9e7d-bf33ad6130ff",
            "description": "🗄️ Retrieves all active table mappings from configuration database. Queries [df].[wstColumnMapping] for key column mappings to identify which tables are eligible for delta processing."
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_sql-1",
              "operationId": "GetItems_V2",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sql"
            },
            "parameters": {
              "server": "WSWMDWH01",
              "database": "WSSA",
              "table": "[df].[wstColumnMapping]",
              "$filter": "IsKeyColumn eq true and IsActive eq true"
            },
            "authentication": {
              "type": "Raw",
              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
            }
          }
        },
        "📊_Change_Detection_Section": {
          "runAfter": {
            "Parse_JSON_-_Source_Data_Views_for_Processing": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "change-detection-section"
          },
          "type": "Compose",
          "inputs": "📊 CHANGE DETECTION SECTION\n\n🎯 PURPOSE: Efficiently identify tables with delta changes requiring processing\n\n🔧 PARALLEL PROCESSING:\n• Concurrency: Up to 20 simultaneous change checks\n• Performance: Reduces total discovery time significantly\n• Efficiency: Only processes tables with actual changes\n\n🔍 DETECTION LOGIC:\n1. Parse table mappings from configuration query\n2. For each table mapping, call wspCheckOrGetChanges stored procedure\n3. Check FoundChanges flag in result set\n4. Add tables with changes to TablesToProcess array\n\n⚙️ OPTIMIZATION BENEFITS:\n• Selective Processing: Skips tables without changes\n• Parallel Execution: 20x faster than serial processing\n• Resource Efficient: Minimizes unnecessary processing\n• Smart Filtering: Only processes relevant datasets"
        },
        "Does_the_Source_Data_View_Have_Changes": {
          "foreach": "@body('Parse_JSON_-_Source_Data_Views_for_Processing')",
          "actions": {
            "📊_Log_Change_Check_Start": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "log-check-start",
                "description": "📊 Logs the start of change detection for this table to Dataverse for monitoring which tables are being checked and timing analysis"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "CreateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "trz_masterflowchecks",
                  "item/trz_name": "Check: @{item()?['SourceTableName']}",
                  "item/trz_flowrunid": "@workflow()?['run']['name']",
                  "item/trz_flowname": "@workflow()?['tags']['xrmWorkflowId']",
                  "item/trz_sourcetable": "@item()?['SourceTableName']",
                  "item/trz_targettable": "@item()?['TargetTableName']",
                  "item/trz_checkstarttime": "@utcNow()",
                  "item/trz_status": "Checking"
                },
                "authentication": {
                  "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                }
              }
            },
            "ESP_-_Check_for_Changes": {
              "runAfter": {
                "📊_Log_Change_Check_Start": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "15145ab9-f0bc-4534-87ed-ec89416bc01f"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_sql-1",
                  "operationId": "ExecuteProcedure_V2",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sql"
                },
                "parameters": {
                  "server": "WSWMDWH01",
                  "database": "WSSA",
                  "procedure": "[df].[wspCheckOrGetChanges]",
                  "parameters/SourceView": "@item()?['SourceTableName']",
                  "parameters/SourceView_bu": "@item()?['SourceTableBUName']",
                  "parameters/ReturnRows": "@false"
                },
                "authentication": {
                  "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                }
              }
            },
            "If_ChangesFound_AddToProcessingList": {
              "actions": {
                "Add_Table_To_Processing_List": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "5e750ab1-6c5c-441b-bc18-3cf5a35928fa"
                  },
                  "type": "AppendToArrayVariable",
                  "inputs": {
                    "name": "TablesToProcess",
                    "value": {
                      "SourceView": "@item()?['SourceTableName']",
                      "BackupView": "@item()?['SourceTableBUName']",
                      "TargetTable": "@item()?['TargetTableName']"
                    }
                  }
                }
              },
              "runAfter": {
                "ESP_-_Check_for_Changes": [
                  "Succeeded"
                ]
              },
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@first(outputs('ESP_-_Check_for_Changes')?['body/resultsets']['Table1'])?['FoundChanges']",
                      "@true"
                    ]
                  }
                ]
              },
              "metadata": {
                "operationMetadataId": "49491504-ab28-4222-b1a7-d6c0654c6e08",
                "description": "⚠️ DEPRECATED: This action no longer adds to array variable. Processing status is now set in Dataverse log update action instead."
              },
              "type": "If"
            },
            "📊_Log_Change_Check_Complete": {
              "runAfter": {
                "If_ChangesFound_AddToProcessingList": [
                  "Succeeded",
                  "Failed",
                  "Skipped"
                ]
              },
              "metadata": {
                "operationMetadataId": "log-check-complete",
                "description": "📊 Updates the Dataverse log record with completion time, duration, and whether changes were found. Runs even if check failed to track all attempts."
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "UpdateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "trz_masterflowchecks",
                  "recordId": "@outputs('📊_Log_Change_Check_Start')?['body/trz_masterflowcheckid']",
                  "item/trz_checkendtime": "@utcNow()",
                  "item/trz_changesfound": "@if(equals(first(outputs('ESP_-_Check_for_Changes')?['body/resultsets']['Table1'])?['FoundChanges'], true), true, false)",
                  "item/trz_status": "@if(equals(outputs('ESP_-_Check_for_Changes')?['statusCode'], 200), 'Completed', 'Failed')",
                  "item/trz_processingstatus": "@if(equals(first(outputs('ESP_-_Check_for_Changes')?['body/resultsets']['Table1'])?['FoundChanges'], true), 1, 0)",
                  "item/trz_errormessage": "@{outputs('ESP_-_Check_for_Changes')?['error']?['message']}"
                },
                "authentication": {
                  "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                }
              }
            }
          },
          "runAfter": {
            "📊_Change_Detection_Section": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "834c9763-c017-4bfe-8025-78378e12523a"
          },
          "type": "Foreach",
          "runtimeConfiguration": {
            "concurrency": {
              "repetitions": 20
            }
          }
        },
        "Process_Tables_with_Changes": {
          "foreach": "@outputs('📊_Get_Tables_with_Changes_from_Dataverse')?['body/value']",
          "actions": {
            "📊_Mark_Processing_Started": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "mark-processing-started",
                "description": "📊 Updates Dataverse record to show this table is now being processed by the child flow"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "UpdateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "trz_masterflowchecks",
                  "recordId": "@items('Process_Tables_with_Changes')?['trz_masterflowcheckid']",
                  "item/trz_processingstatus": 2,
                  "item/trz_childflowstarttime": "@utcNow()"
                },
                "authentication": {
                  "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                }
              }
            },
            "Run_Child_Flow_for_Each_Table": {
              "runAfter": {
                "📊_Mark_Processing_Started": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "069b9268-4c4b-4280-a918-e29d70724618",
                "description": "🚀 Executes Framework with Batching child flow for this table, passing source view, backup view, target table, and parent flow run ID"
              },
              "type": "Workflow",
              "inputs": {
                "host": {
                  "workflowReferenceName": "bbd26a2d-8a62-f011-bec2-6045bdd7b42a"
                },
                "body": {
                  "text": "@items('Process_Tables_with_Changes')?['trz_sourcetable']",
                  "text_1": "@concat('df.bk_', replace(items('Process_Tables_with_Changes')?['trz_sourcetable'], 'df.', ''), '_WSDWH_R')",
                  "text_2": "@items('Process_Tables_with_Changes')?['trz_targettable']",
                  "text_3": "@workflow()?['run']['name']"
                }
              }
            },
            "📊_Mark_Processing_Complete": {
              "runAfter": {
                "Run_Child_Flow_for_Each_Table": [
                  "Succeeded",
                  "Failed",
                  "Skipped",
                  "TimedOut"
                ]
              },
              "metadata": {
                "operationMetadataId": "mark-processing-complete",
                "description": "📊 Updates Dataverse record with child flow completion status, run ID, and any error information"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "UpdateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "trz_masterflowchecks",
                  "recordId": "@items('Process_Tables_with_Changes')?['trz_masterflowcheckid']",
                  "item/trz_childflowendtime": "@utcNow()",
                  "item/trz_childflowrunid": "@{workflow()?['run']?['name']}/@{outputs('Run_Child_Flow_for_Each_Table')?['name']}",
                  "item/trz_processingstatus": "@if(equals(outputs('Run_Child_Flow_for_Each_Table')?['statusCode'], 200), 3, 4)",
                  "item/trz_childflowerror": "@{outputs('Run_Child_Flow_for_Each_Table')?['error']?['message']}"
                },
                "authentication": {
                  "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                }
              }
            }
          },
          "runAfter": {
            "📊_Get_Tables_with_Changes_from_Dataverse": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "a0643667-3091-4815-a628-3f8b490a6611",
            "description": "🔄 Processes each table with changes by executing the Framework with Batching child flow. Tracks execution status in Dataverse."
          },
          "type": "Foreach",
          "runtimeConfiguration": {
            "concurrency": {
              "repetitions": 5
            }
          }
        },
        "Parse_JSON_-_Source_Data_Views_for_Processing": {
          "runAfter": {
            "ESP_-_Get_Source_Data_Views_for_Processing": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "773fd1d5-ab6e-481a-aa3a-b177f0edbfd3"
          },
          "type": "ParseJson",
          "inputs": {
            "content": "@outputs('ESP_-_Get_Source_Data_Views_for_Processing')?['body/value']",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "@@odata.etag": {
                    "type": "string"
                  },
                  "ItemInternalId": {
                    "type": "string"
                  },
                  "MappingID": {
                    "type": "integer"
                  },
                  "SourceDB": {
                    "type": "string"
                  },
                  "SourceTableName": {
                    "type": "string"
                  },
                  "SourceTableBUName": {
                    "type": "string"
                  },
                  "SourceColumnName": {
                    "type": "string"
                  },
                  "TargetDB": {
                    "type": "string"
                  },
                  "TargetTableName": {
                    "type": "string"
                  },
                  "TargetColumnName": {
                    "type": "string"
                  },
                  "DataType": {
                    "type": "string"
                  },
                  "IsKeyColumn": {
                    "type": "boolean"
                  },
                  "ExcludeCompare": {
                    "type": "boolean"
                  },
                  "DateModifiedColumn": {
                    "type": "boolean"
                  },
                  "IsActive": {
                    "type": "boolean"
                  }
                },
                "required": [
                  "@@odata.etag",
                  "ItemInternalId",
                  "MappingID",
                  "SourceDB",
                  "SourceTableName",
                  "SourceTableBUName",
                  "SourceColumnName",
                  "TargetDB",
                  "TargetTableName",
                  "TargetColumnName",
                  "DataType",
                  "IsKeyColumn",
                  "ExcludeCompare",
                  "IsActive"
                ]
              }
            }
          }
        },
        "📊_Get_Tables_with_Changes_from_Dataverse": {
          "runAfter": {
            "Does_the_Source_Data_View_Have_Changes": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "get-tables-with-changes",
            "description": "📊 Queries Dataverse to get all tables where changes were found during this Master flow run. Uses Dataverse as source of truth instead of array variable for better persistence and querying."
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "trz_masterflowchecks",
              "$filter": "trz_flowrunid eq '@{workflow()?['run']['name']}' and trz_changesfound eq true and trz_status eq 'Completed'",
              "$orderby": "trz_sourcetable asc"
            },
            "authentication": {
              "type": "Raw",
              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
            }
          }
        },
        "Process_Tables_with_Changes": {
          "foreach": "@outputs('📊_Get_Tables_with_Changes_from_Dataverse')?['body/value']",
          "actions": {
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}